@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #010101;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

*,
html {
  scroll-behavior: smooth;
  /* border: 1px red solid; */
}

body.sidebar-open {
  overflow: hidden;
}
